#logo {
    background-color: aqua;
    position: aboslute;
    top: 10px;
    left: 10px;
}

#title {
    position: absolute;
    top: 35px;
    left: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    color: #000; 
    font-size: 26px;
    margin: 0;
    padding: 0;
}

#email {
    position: absolute;
    top: 35px;
    right: 10px;
    text-align: left;
    vertical-align: top;
    background-color: aqua;

}

#sub-title {
    background-color: red;
    position: absolute;
    top: 73px;
    left: 10px;
    width: 900px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #555;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

#summary-mapArea {
    background-color: red;
    position: absolute;
    top: 116px;
    left: 10px;
    right: 10px;
    bottom: 42px;
}

#map-title {
    background-color: blue;
    position: absolute;
    top: 0;
    margin: 0;
    z-index: 1000;
}

#zoom-controls {
    background-color: pink;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    text-align: right;
    z-index: 1000;
}

#map {
    background: red;
    position: absolute;
    height: 100%;
    width: 100%;

}

#credits {
    background-color: purple;
}

#notes {
    background-color: yellow;
}